header {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 500;
}
.quit {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: white;
  background-color: rgb(155, 1, 1);
  text-decoration: none;
}
.quit:hover {
  background-color: rgb(224, 5, 5);
  color: white;
}
