@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --display: none;
}
body {
  background: url(../../images/hell.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 50px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.info {
  max-width: 600px;
}
.info p {
  background-color: rgb(204, 204, 204);
  color: black;
  font-size: 0.8rem;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.4),inset -5px -5px 5px rgba(255, 255, 255, 0.4);
  margin-right: 10px;
}
i {
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

h2,h3,p {
  font-family: 'Kaushan Script', sans-serif;
}

#label {
  font-family: 'Parisienne' sans-serif !important;
}
h3{
  margin-top:30px;
  margin-bottom:10px;
}
#text {
  /* padding: 10px; */
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 400px;
    margin-right: 450px; */
  position: relative;
}

.label {
  font-size: 19px;
  color: red;
  font-family: 'Parisienne', sans-serif !important;
}
.msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.msg h2 {
  font-size: 2rem;
}
.msg .redirect {
  width: 64px;
  position: relative;
}
.redirect img {
  width: 100%;
  height: auto;
}
.redirect p {
  font-size: 8px;
  color: black;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#ans {
  /* border: 1px solid black; */
  border-radius: 20px;
  width: 350px;
  height: 200px;
  /* margin-left: 400px; */
  color: red;
  background: url(../../images/cave.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#hercules {
  width: 200px;
  margin-right: 10px;
}
.clue-a{
  color: white;
  text-decoration: none;
}
.clue-a:hover{
  text-decoration: underline;
}
.img-container::after {
  display: var(--display);
  content: 'The keys you seek are of the form Flag{xxxx}, only the three together can grant you an audience';
  position: absolute;
  top: 0;
  background-color: black;
  border-radius: 10px 10px 10px 0px;
  padding: 5px;
  left:0;
  color: white;
  z-index: 100;
}
.bt {
  border: 2px solid white;
  width: 100px;
  border-radius: 30px;
  color: red;
  background: black;
  font-family: 'Parisienne', sans-serif;
  font-size: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}
.bt:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 1px solid #fff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#qr{
  margin-right: 30px;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  #text {
    flex-direction: column;
  }
  .img-container::after {
 
    position: absolute;
    top: -12%;
    background-color: black;
    border-radius: 10px 10px 10px 0px;
    padding: 5px;
    left: 50%;
    color: white;
    z-index: 100;
  }
  body {
    background: #000;
    flex-direction: column;
    justify-content: end;
    background-repeat: repeat-y;
    padding: 10px 50px;
  }
}
