*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", sans-serif;
  box-sizing: border-box;
}
body{
  overflow-y: hidden;
}
html{
  --anim: change 10s linear forwards;
}
#toggle-mute {
  z-index: 200;
  color: white;
  position: absolute;
  background: none;
  border: none;
  font-size: 3rem;
}
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.overlay{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
}
#story::after {
  
  content: "You cheated for a few of the labors didn’t you? You seeked the help of google!And thus you will have to do two more labors!";
  position: absolute;
  font-size: 4rem;
  background:transparent;
  color: white;
  border-radius: 10px;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
  top: 50%;
  left: 50%;
  padding: 15px 20px;
  transform: translate(-50%, -50%);
  animation:var(--anim);
}
#story::after:hover{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
#proceed-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 4rem;
  font-family: "Caveat",sans-serif;
  border: none;
}
#proceed-btn:hover{
  color: #fff;
  border:1px solid #fff;
  cursor: pointer;
  background: rgba(0, 0, 0,0.5);
}
/*








*/
@keyframes change {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@media(max-width:600px){
  #story::after{
    font-size: 2rem;
  }
}



 

 









